*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
settings.gradle
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradle.properties
build.gradle
app/src/test/java/com/example/apptest/ExampleUnitTest.kt
app/src/main/res/values/themes.xml
app/src/main/res/values/strings.xml
app/src/main/res/values/colors.xml
app/src/main/res/values-night/themes.xml
app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xxhdpi/ic_launcher.png
app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xhdpi/ic_launcher.png
app/src/main/res/mipmap-mdpi/ic_launcher_round.png
app/src/main/res/mipmap-mdpi/ic_launcher.png
app/src/main/res/mipmap-hdpi/ic_launcher_round.png
app/src/main/res/mipmap-hdpi/ic_launcher.png
app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
app/src/main/res/menu/bottom_navigation_menu.xml
app/src/main/res/layout/custom_row.xml
app/src/main/res/layout/activity_transitions.xml
app/src/main/res/layout/activity_main.xml
app/src/main/res/drawable/ic_launcher_background.xml
app/src/main/res/drawable/ic_android.xml
app/src/main/res/drawable/background.jpg
app/src/main/res/drawable-v24/ic_launcher_foreground.xml
app/src/main/java/rest/RetrofitClienteInstance.kt
app/src/main/java/rest/RestApi.kt
app/src/main/java/model/Transaction.kt
app/src/main/java/model/ResponseTransations.kt
app/src/main/java/com/example/apptest/ui/TransitionsActivity.kt
app/src/main/java/com/example/apptest/ui/TransactionsAdapter.kt
app/src/main/java/com/example/apptest/ui/MainActivity.kt
app/src/main/AndroidManifest.xml
app/src/androidTest/java/com/example/apptest/ExampleInstrumentedTest.kt
app/proguard-rules.pro
app/build.gradle
.idea/vcs.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
